@media screen and (min-width: 992px){
    .parse-details-box {
        max-width: 400px;
    }
}


.info-box-icon > img {
    vertical-align: baseline;
}
.parse-content {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}
.parse-details-box {
    margin: 1rem;
}

.red-text {
    color: darkred;
}