{% extends 'adminlte/base.html' %}

{% block meta %}
<meta charset="utf-8">
<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="vapid-key" content="{{ vapid_key }}">
{% endblock %}


{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

{% load static %}
<script src='{% static "js/app.js" %}'></script>
<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>

{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block body_class %}
sidebar-collapse
{% endblock %}

{% block bodyclass %}
sidebar-collapse
{% endblock %}


{% block content %}

<div class="parse-content">
{% for task in tasks %}
{{ task }}
{% endfor %}

</div>


{% endblock %}